# Mac OS X
.DS_Store
.env

# Node.js
node_modules/
!node_modules/rimraf/bin.js
!node_modules/rimraf/rimraf.js
!node_modules/rimraf/package.json
!node_modules/rimraf/LICENSE
!node_modules/rimraf/README.md

npm-debug.log
squwbs-darwin-x64/

src/svgs
newMaster.wav

firebase-adminsdk.json
mongo.js
squwbs.component.zip
squwbs.component/Contents/Info.plist
squwbs.component/Contents/PkgInfo
squwbs.component/Contents/MacOS/squwbs
squwbs.component/Contents/Resources/RecentFilesMenuTemplate.nib
squwbs.component/Contents/Resources/squwbs.rsrc
