@font-face {
    font-family: "alienEncounters";
     src: url("../../fonts/alien_encounters/Alien-Encounters-Solid-Regular.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
}
.spinner{
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }