
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<main>
    
        <p>Download Will Start Soon</p>
    
</main>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>